Script.Parent.Touched:Connect(function()
Local sign or idk = Game.ServerStorage.Model:clone()
["sign or idk"].Parent = Workspace
local original sign = game.workspace.sign -- the first sign evar
Game.Workspace.["Sign or idk"].position = ["original sign"].position
["original sign"]:destroy()
end)
